$main-font-size: 10px;
.btn-success {
  background-color:#387f38;
  border-color:#387f38;
}
.btn-info {
  background-color:#207f9c;
  border-color:#207f9c;
}
.btn-warning {
  background-color:#9e620e;
  border-color:#9e620e;
}
.btn-danger {
  background-color:#c8312c;
  border-color:#c8312c;
}


 .app_frame{
  border:none;
   width:100%;
   height:200px;
   overflow: auto;
   margin: 0; padding: 0;

 }

