$main-font-size: 10px;
.btn-primary { background-color: #175689; border-color: #0e4672; }
.btn-info { background-color: #696969; border-color: #454545; }
.btn-success { background-color: #5c8014; border-color: #40590d; }
.btn-warning { background-color: #b95b01; border-color: #8d4601; }
.btn-danger { background-color: #b33b3a; border-color: #9e2625; }


